{% extends 'main.html' %}

{% block content %}
<h1>home page</h1>

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>


<div class="home-container">
    <div id ='1'>
        {% include 'base/topics_component.html' %}
    </div>

    <div id = '2'>
        <h3>Feeds</h3>
        <h5>{{room_count}} rooms available... <a href = "{% url 'create-room' %}"">  Create Room</a></h5>
        <hr>
        {% include 'base/feed_component.html' %}
    </div>    
    
    <div id = '3'>
        {% include 'base/activity_component.html' %}
    </div>

</div>
{% endblock content %}